@import "reset.css";

* {
  color: whitesmoke;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

body > img {
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  opacity: 0.8;
  background-size: cover;
}

#clock {
  margin: 50px 0px;
  font-size: 60px;
  z-index: 2;
}

.hidden {
  display: none !important;
}

#login-form input,
#todo-form input {
  border: none;
  border-bottom: 1px solid wheat;
  border-radius: 10px;
  padding: 10px 50px;
  background-color: transparent;
  margin: 40px 0px;
}

#login-form input::placeholder,
#todo-form input::placeholder {
  color: whitesmoke;
}

#todo-form input:focus {
  outline: none;
}

#greeting {
  font-size: 40px;
  font-family: "Bebas Neue", cursive;
}

#quote {
  display: flex;
  position: absolute;
  bottom: 50px;
  font-size: 20px;
  font-family: "Dongle", sans-serif;
}

#quote span {
  text-align: center;
}

#todo-list {
  margin-top: 5px;
}

#todo-list button {
  border: none;
  margin: 0px 10px;
  background-color: transparent;
}
#todo-list li {
  border: none;
  margin: 10px 0px;
}

.music-bar {
  padding: 5px;
  border-radius: 10px;
  position: absolute;
  top: 20px;
  left: 10px;
}

.music-bar button {
  border: none;
}
.music-bar,
.music-bar button {
  background-color: transparent;
}

.music-bar i {
  color: black;
  font-size: 20px;
}

.music-bar > div {
  padding: 10px 20px;
  border-radius: 20px;
}

#website-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 33%;
  left: 10px;
  z-index: 2;
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  animation: web-appear 2.5s forwards ease-in-out;
}
@keyframes web-appear {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  99% {
    opacity: 0.9;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
  }
}

#website-bar img {
  width: 30px;
  height: 30px;
  border-radius: 10px;
}

.website-box-content {
  margin: 10px 0px;
  animation: web-appear 4s forwards ease-in-out;
}

.website-closebox {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  border: none;
  background-color: wheat;
  box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.4);
}

#website-box > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.web-bar {
  position: absolute;
  top: 50%;
  left: 10px;
  z-index: 2;
  border: none;
  background-color: transparent;
  animation: bar-appear 2s forwards ease;
}

@keyframes bar-appear {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  99% {
    opacity: 0.8;
    transform: translateX(0px);
  }
  100% {
    opacity: 1;
  }
}

.web-bar i {
  color: black;
}

#weather {
  position: absolute;
  top: 20px;
  right: 10px;
}
#weather span:last-child {
  display: block;
  text-align: center;
}

.painting {
  position: absolute;
}
